<!DOCTYPE html>
<html>
  <head><% include partials/head.ejs %></head>
  <body id="<%= pageID %>">
    <% include partials/header.ejs %>
    <div class="root" id="root"></div>
    <% include partials/footer.ejs %>
  </body>
</html>
